
.container {
    display: flex;
}

.info-grid {
  display: grid;
  /* Sets up the template for fitting the "Profile:" info */
  grid-template-areas:
          "Search Search Search Search Blank"
          "Map Map Map Map Recent-L"
          "Map Map Map Map Recent"
          "Map Map Map Map Recent"
          "Max-Temp Cur Cur Cur Cur"
          "Min-Temp Sun Sun Sun Sun";
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 40px 40px 180px 180px auto auto;
  grid-gap: 0px;
  text-align: left;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.info-grid > div {
  display: flex;
  align-items: center;
}

.search {
  grid-area: Search;
  height: 40px;
  justify-content: center;
}

.cur {
  grid-area: Cur;
  justify-content: flex-start;
}


.max-temp {
  grid-area: Max-Temp;
  justify-content: flex-start;
}

.sun {
  grid-area: Sun;
  justify-content: flex-start;
}

.min-temp {
  grid-area: Min-Temp;
  justify-content: flex-start;
}

.map {
  grid-area: Map;
}

.recent-L {
  grid-area: Recent-L;
  justify-content: flex-start;
}

.info-grid > .recent {
  grid-area: Recent;
  display: block;
}

/* Sets the font of the places app  */
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Sets up the map element */
#mapid { height: auto;
          width: auto;
          padding-top: 30px;
          padding-bottom: 30px;
          float: left;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 25px;
          margin: 8px
        }

div {
    text-indent: 7px;
    margin: 0px;
}

/* Sets the prevous city names to different to allow for them stand out
and allow for colour change when hovering over them */
.locationN {
    color: #006400;
}

.locationN:hover {
  color: #B22222;
}

/* Sets the other specific div ellements to be set out the right way*/


#locationField {
  width: auto;
}

#userInput {
  display: flex;
  grid-column-gap: 2px;
}

#locationField {
  flex: 3;
  max-width: 350px;
}

#performSearch {
  flex: 1;
}
